* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: blanchedalmond;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

li {
    padding: 1em;
}

small {
    color: gray;
}

button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.link {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* helpers */

.flex {
    display: flex;
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sub-container {
    display: flex;
    max-width: 1300px;
}

.font-size {
    font-size: 20px;
    font-weight: 600;
}