.toy-list-container {
    flex-direction: column;
}

.toy-list {
    flex-direction: column;
}

.toy-list ul {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-columns: repeat(auto, 20px);
    gap: 3em;
}

.toy-list ul li {
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgb(231, 230, 223);
    border-radius: 20px;
    padding: 1em;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toy-list ul li:hover {
    filter: brightness(85%);
}

.toy-details-buttons {
    justify-content: center;
    align-items: center;
}

.toy-details-buttons>* {
    padding: 5px;
    border: none;
    background-color: inherit;
    font-size: 17px;
}

.toy-details-buttons>*:hover {
    filter: brightness(85%);
}