.filter {
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.filter>* {
    margin: 5px;
}

.filter select {
    width: 100px;
    border: 1px solid #DCDFE6;
}

.search-toy {
    width: 217px;
    padding: 11.4px;
    border: 1px solid #DCDFE6;
}

.search-toy::placeholder {
    color: #6062666c;
}