.app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $clr1;
    height: 100vh;
    display: block;
    font-family: sticky;
}

.nav-container {
    display: flex;
    height: 10%;
    border-bottom: 1px solid #DCDFE6;
    .menu {
        display: none;
        font-size: 30px;
    }
}

.nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    .logo {
        font-size: 30px;
        color: $clr1;
    }
    a {
        font-weight: bold;
        color: $clr2;
        &:hover {
            color: $clr1;
        }
    }
    a.router-link-exact-active {
        color: $clr1;
    }
}