.home-container {
    height: 90%;
    justify-content: center;
    align-items: center;
    .home {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5625rem;
        >* {
            border: 1px solid $clr2;
            padding: 123px 0;
            cursor: pointer;
            font-size: 45px;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 20px;
            font-weight: 600;
            &:hover {
                filter: brightness(135%);
            }
        }
         :first-child {
            border-radius: 20px;
            border: 1px solid black;
            background-color: $clr2;
            grid-column: 1/-1;
            &:hover {
                filter: brightness(85%);
            }
        }
    }
}