.toy-edit {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toy-edit>* {
    padding: 1em;
    margin: 7px;
}

.edit-inputs>* {
    margin: 7px;
    padding: 1em;
    border: 1px solid #DCDFE6;
}

.edit-inputs button {
    background-color: rgba(128, 128, 128, 0.5);
}